*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

.last {
    background: rgb(236, 231, 231);
    display: flex;
    justify-content: space-between;
    padding-left: 110px;
    padding-top: 80px;
    padding-bottom: 0;
    gap: 40px;
}

.last .first-text img {
    min-width: 140px;
}

.last .first-text p {
    font-size: 1.6rem;
    margin: 30px 0;
}

.last button {
    background: green;
    color: white;
    opacity: 0.8;
    font-size: 1.1rem;
    border-radius: 5px;
    border: none;
    padding: 15px 25px;
}

.last .second-text {
    background: green;
    opacity: .8;
    padding: 80px 90px;
    border-top-left-radius: 150px;
}

.last .second-text .contacts {
    display: flex;
    align-items: center;
    gap: 100px;
    width: 600px;
}

.last .second-text .contacts .texth {
    color: white;
    padding: 50p;
}

.last .second-text .contacts .icons {
    color: white;
}