* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #f4f4f4;
    font-family: sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 50px;
    margin-left: 110px;
    margin-right: 110px;
}

header .navbar ul {
    display: flex;
    gap: 50px;
    list-style: none;
    align-items: center;
}

header .navbar ul a {
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
}

header .navbar ul li #home{
    font-weight: bolder;
}

header .buttons {
    display: flex;
    gap: 10px;
    align-items: center;
}

header .buttons .signin {
    color: black;
    font-size: 1rem;
    border: none;
    background: transparent;
    padding-right: 20px;
}

header .buttons p {
    font-size: 25px;
    font-weight: 900;
}

header .buttons .signup {
    padding: 15px 10px;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    opacity: .8;
    background: green;
    color: white;
}

.hero-section {
    display: flex;
    align-items: center;
    margin: 0 110px 0 110px;
}

.hero-section h2 {
    font-size: 45px;
    padding: 40px 0;
    line-height: 65px;
    font-weight: bolder;
}

.hero-section p {
    font-size: 24px;
    line-height: 35px;
}

.hero-section .hero-text button {
    color: white;
    background: green;
    opacity: .8;
    border: none;
    margin: 20px 0;
    padding: 20px 40px;
    border-radius: 5px;
}

.second-hero {
    margin: 0 110px 0 110px;
}

.second-hero h2 {
    text-align: center;
    font-size: 40px;
    margin-top: 120px;
}

.second-hero p {
    text-align: center;
    font-size: 1.15rem;
    margin-top: 20px;
    color: rgb(46, 43, 43);
    line-height: 30px;
}

.boxes {
    display: flex;
    gap: 20px;
    margin: 20px 110px 200px 110px;
}

.boxes .bx1,
.boxes .bx2,
.boxes .bx3 {
    box-shadow: 0 0 5px green;
    border-radius: 20px;
    padding: 20px;
}

.boxes .bx1 h3,
.boxes .bx2 h3,
.boxes .bx3 h3 {
    font-size: 15px;
    margin: 18px 0;

}

.boxes .bx1 p,
.boxes .bx2 p,
.boxes .bx3 p {
    font-size: 16px;
    line-height: 25px;
    color: rgb(59, 57, 57);
}

.third-hero {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 0 110px 50px 110px;
}

.third-hero .third-hero-text h1 {
    font-size: 40px;
}

.third-hero .third-hero-text p {
    font-size: 1.4rem;
    margin-top: 20px;
    line-height: 40px;
}

.third-hero img {
    max-width: 500px;
}



.third-hero button {
    background: green;
    opacity: .8;
    color: white;
    padding: 12px 30px;
    border: none;
    border-radius: 5px;
    margin: 50px 0;
    font-size: 25px;
    font-weight: bold;
}

.fourth-hero-section {
    margin: 200px 110px 0 110px;
}

.fourth-hero-section .first-text h2 {
    font-size: 2.3rem;
}

.fourth-hero-section .first-text p {
    font-size: 1.31rem;
    margin-bottom: 20px;
    color: rgb(78, 74, 74);
    line-height: 30px;
}

.fourth-hero-section .half-text-img {
    display: flex;
    align-items: center;
    gap: 50px;
}

.fourth-hero-section .half-text-img .second-text h2 {
    margin: 15px 0;
}

.fourth-hero-section .half-text-img .second-text p {
    font-size: 1.31rem;
    color: rgb(78, 74, 74);
    line-height: 30px;
    margin: 15px 0;
}

.fifth-hero {
    display: flex;
    margin: 0 110px 200px 110px;
    align-items: center;
    gap: 50px;
}

.fifth-hero img {
    max-width: 550px;
}

.fifth-hero p {
    font-size: 1.31rem;
    color: rgb(78, 74, 74);
    line-height: 30px;
    margin: 15px 0;
}

.sixth-hero-section {
    background: green;
    opacity: .8;
    padding-bottom: 50px;
    margin-bottom: 300px;
}

.sixth-hero-section h3 {
    color: white;
    font-size: 2.2rem;
    padding-top: 50px;
    padding-left: 110px;
    padding-bottom: 30px;
}

.sixth-hero-section h2 {
    font-size: 2.5rem;
    margin: 50px 0 50px 0;
}

.sixth-hero-section .last-boxes {
    display: flex;
    justify-content: space-between;
    margin: 0 110px 0 110px;
    gap: 25px;
}

.sixth-hero-section .last-boxes .bx1,
.sixth-hero-section .last-boxes .bx2,
.sixth-hero-section .last-boxes .bx3,
.sixth-hero-section .last-boxes .bx4 {
    border-top: 1px solid white;
    color: white;
    font-size: 1.5rem;
    padding: 10px;
}

.last {
    background: rgb(236, 231, 231);
    display: flex;
    justify-content: space-between;
    padding-left: 110px;
    padding-top: 80px;
    padding-bottom: 0;
    gap: 40px;
}

.last .first-text img {
    min-width: 140px;
}

.last .first-text p {
    font-size: 1.6rem;
    margin: 30px 0;
}

.last button {
    background: green;
    color: white;
    opacity: 0.8;
    font-size: 1.1rem;
    border-radius: 5px;
    border: none;
    padding: 15px 25px;
}

.last .second-text {
    background: green;
    opacity: .8;
    padding: 80px 90px;
    border-top-left-radius: 150px;
}

.last .second-text .contacts {
    display: flex;
    align-items: center;
    gap: 100px;
    width: 600px;
}

.last .second-text .contacts .texth {
    color: white;
    padding: 50p;
}

.last .second-text .contacts .icons {
    color: white;
}

.last .second-text .copyright{
    margin-top: 100px;
    font-size: 12px;
}